.body-container{
    background-color: white;
    margin-top: 70px;
    padding: 20px;
    border-radius: 5%;
    height: 480px;
    

}

.title{
    /* text-align: left; */
    margin:0px;
    font-family: 'Play', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;   
    
}
.formCreate{
    display:flex;
    flex-direction: column;
    align-items: left;

    padding-top: 20px;
    text-align: left;
    padding-left: 15px;
}

label{
    font-family: 'Play', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.input-number{
    font-family: 'Play', sans-serif;
    font-weight: 400;
    font-size: 13px;   
    padding: 8px;

}

.input-text{
    border: 1px solid #9b9b9b;
    border-radius: 5px 5px 5px 5px;
    color: #393939;
    font-family: 'Play', sans-serif;
    font-weight: 400;
    font-size: 13px;   
    padding: 8px;
}

.input-select{
    border: 1px solid #9b9b9b;
    border-radius: 5px 5px 5px 5px;
    color: #393939;
    font-family: 'Play', sans-serif;
    font-weight: 400;
    font-size: 13px;   
    padding: 8px;
}

.form-submit {
    position: relative;
    left: -5px;
    top: 26px;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    background: #395AA8;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    font-size: 16px;
    padding: 5px 18px 5px 18px;
    border: 0px solid #000000;
    cursor: pointer;
   
  }

  