nav{
    margin-right: 25px;

}

ul{
    display:flex;
}

li{
    margin:0px 10px 0px 10px;    
    list-style: none;
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

li a{    
    color:#F0F0F0;
    text-decoration: none;
}

li a:hover{
    border-bottom: 2px solid #F0F0F0;   
    
}
